<!DOCTYPE html>
<html>
<head>
    <title>{{title}}</title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/css/bootstrap.min.css" rel="stylesheet">
</head>
<body>
<nav class="navbar navbar-expand-lg navbar-light bg-light">
    <div class="container-fluid">
        <a class="navbar-brand" href="/">Domov</a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNav">
            <ul class="navbar-nav">
                {{#if session.userId}}
                    <li class="nav-item">
                        <a class="nav-link" href="/users/profile">Profil</a>
                    </li>
                    <!--<li><a href='/photos/publish'>Objavi sliko</a></li>-->
                    <li class="nav-item">
                        <a class="nav-link" href="/questions/publish">Objavi oglas</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="/questions/myq/{{session.userId}}">Moji oglasi</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="/users/logout">Odjava</a>
                    </li>
                {{else}}
                    <li class="nav-item">
                        <a class="nav-link" href="/users/login">Prijava</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="/users/register">Registracija</a>
                    </li>
                {{/if}}
            </ul>
        </div>
    </div>
</nav>
<div class="container mt-3">
    {{{body}}}
</div>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/js/bootstrap.bundle.min.js"></script>
</body>
</html>
