body {
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

a {
  color: #00B7FF;
}

nav ul{
  list-style: none;
  display: flex;
  gap: 20px;
}

nav ul li a{
  text-decoration: none;
}
